@font-face {
  font-family: "iconfont"; /* Project id 4623694 */
  src: url('./iconfont.woff2?t=1721186577241') format('woff2'),
       url('./iconfont.woff?t=1721186577241') format('woff'),
       url('./iconfont.ttf?t=1721186577241') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e610";
}

